<c8y-title>All Measurements</c8y-title>


<table class="table" *ngIf="measurements !== undefined && measurements.length > 0">
    <tr>
        <th>{{'Id' | translate}}</th>
        <th>{{'Type' | translate}}</th>
        <th>{{'Time' | translate}}</th>
    </tr>
    <tr *ngFor="let m of measurements">
        <td>{{m.id}}</td>
        <td>{{m.type}}</td>
        <td>{{m.time}}</td>
    </tr>
</table>