<c8y-title translate>Superhero</c8y-title>
<c8y-action-bar-item [placement]="'right'">
    <button class="btn btn-link" (click)="removeHero()" [disabled]="superheros.length === 0">
        <i class="fa fa-times"></i> {{ 'Remove Hero' | translate}}
    </button>
</c8y-action-bar-item>

<div *ngIf="superheros.length === 0">
    {{informationText | translate}}
</div>

<table class="table" *ngIf="superheros.length > 0">
    <tr>
        <th translate>{{'Name' | translate}}</th>
        <th translate>{{'Gender' | translate}}</th>
        <th translate>{{'Power' | translate}}</th>
    </tr>
    <tr *ngFor="let hero of superheros">
        <td>{{hero.name}}</td>
        <td>{{hero.gender | translate}}</td>
        <td>{{hero.power | translate}}</td>
    </tr>
</table>
